header>h1{
    margin-left:3%;
    font-family: 'Water Brush', cursive;
}
ul, ol, li{list-style: none;}
ul::after{/*li float 해제*/
    content:"";display:block; clear:both;
}
header a{
    color: black;
    text-decoration: none;
}
.mainmenu{
    font-family: 'Gowun Dodum', sans-serif;     
}
header a:visited{
    color: black;
    text-decoration: none;
}
.mainmenu>a:hover{
    color:rgb(82, 82, 82); font-size: 1.15rem;
}
header{
    height: 45px;
    width:100%;
    padding: 1rem;
    font-weight: bold;
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* border-bottom: solid 1px black; */
    top:0; left:0;
    z-index:0;
}
body{
    padding-top:60px
}
#menu{
    width: 30%; text-align:center;
}  
#main1>li{
    text-align:center;
    position:relative;
    float:left;
}
#main1>li:hover>.submenu{
    display:block;
}

ul>li>a{
    text-align: center;
    margin:0 auto;
}
.submenu{
    display:none; position:absolute; width:100%; 
    font-size:0.95rem; text-align: center;
    padding-left: 0; padding-top:5px; padding-bottom: 5px;
    background:white;
    border: solid 1px black;
    line-height: 30px;
}
.mainmenu{
    font-size: 1.2rem; text-align:center;
    width: 40%;
}
.submenu>li:hover{
    background-color:rgb(196, 196, 196); 
}

.content{
    width: 100%;
    height: 675px;
    position:relative;
    font-family: 'Nanum Gothic Coding', monospace;
}
/* #m1 h1{
    margin-top: 80px; margin-bottom:35px;
    margin-left: 20%; font-size: 2rem
}
#m2 h1{
    margin-top: 80px; margin-bottom:35px;
    margin-left: 15%; font-size: 2rem
} */
#m1 h3{
    margin-bottom:20px;
    margin-left: 20%; font-size:1rem;
}
#m2 h3{
    margin-bottom:20px;
    margin-left: 15%; font-size:1rem;
}
/* .subsec h3{
    margin-bottom:20px;
    margin-left: 7%; font-size:1.1rem;
} */
.mainsec{
    position: absolute;
    margin-top: 60px;
    width : 50%; height: 680px;
    text-align: center;
    /* border: 3px solid red; */
    
}
#m1{
    transform:translateX(-10%);
}
#m2{ left : 50%; transform:translateX(-15%);
}
/*  */
/*  */
/*  */
#tit{
    width: 50%; left:0;bottom:0;
}
#maincontent{
    width: 100%;height: 670px; 
    /* border:3px solid red; */
    position:static;
    font-family: 'Nanum Gothic Coding', monospace;
}
#tit>h1{
    margin-top:40px; position:absolute;
    text-align:center; bottom:0;left:0;
    font-size:7rem; color:rgb(13, 97, 51);
    margin-top: 15px;  margin-bottom:0;
    z-index:-1; margin-left:2%;
}
#tit>h2{ text-align:center;margin-left:4%;z-index:-1; 
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5em;position:absolute;
    bottom:0; margin-bottom:50px; opacity:0.5;
    font-weight:500; font-size:4rem; letter-spacing: 3px;
}
#maincontent>p{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top:20px; margin-left:7%;
    font-weight:300; font-size:1.4rem; letter-spacing: 3px;
}
#submenu{
    position:absolute;
    margin-top:13%; text-align:center;
    font-weight:400; letter-spacing: 0px;
    width: 50%; left:0; z-index:0;
}
#submenu>button{
    font-family: 'Noto Sans KR', sans-serif;
    border : 0px; background-color:white;
    font-size:1rem; font-weight: 300;
    margin-left:-8px;margin-right:-6px;
    height:40px; letter-spacing: 1.5px;
    box-sizing: border-box; 
    cursor: pointer;
}
#submenu a:hover{
    color: rgb(18, 113, 21);
    font-weight:400;
    /* border-bottom : 2px solid rgb(18, 113, 21); */
}

#submenu button>a{
    width: 140px; height: 40px;
    color: black; display:block;
    text-decoration: none;
}
#submenu button>a:visited{
    text-decoration: none;
}
#submenu #active a{
    font-weight:bold;
}
#submenu #active a:hover{
    color: rgb(18, 113, 21);
    /* border-bottom : 2px solid rgb(18, 113, 21); */
}

section{
    width:50%; left:50%;
    height:540px; display:flex; align-items: center;
    /* border: 3px solid black; */
    position: relative;
    right:0;
}

#map_content article{
    top:50%; margin-left:5%;
    transform:translateY(10%);
    text-align: left;
    line-height: 1.4em;
    left:5%;top: 20%;
}
#map_content a{
    color:rgb(13, 97, 51);
    text-decoration: none;
}

#map_content a:hover{
    font-weight:bold;
}
#map_content a:visited{
    color:rgb(13, 97, 51);
    text-decoration: none;
}

#subcon button{
    position: absolute; opacity:.8;
    /* margin-left:20%; */
    font-family: 'Gowun Dodum', sans-serif;
    font-size:1rem; letter-spacing: 1px;
    border:0;
    background-color:rgb(22, 117, 65); color:white;
    border : 1px solid rgb(22, 117, 65);
    border-radius:5px; padding: 3px; padding-left:20px;padding-right:20px;
    bottom:90px; z-index:0;
}
#subcon .but:hover{background-color:rgb(13, 82, 44)}
#subcon a{ 
    color: white; 
    text-decoration: none;}
#subcon a:visited{text-decoration:none;}
/* #m2 button{
    margin-left : 15%;
} */
article.mainsec img{
    position: absolute;
    margin-top:40px;
    transform:translateX(-20%);
    width: 35%;
}
#m2 img{
    position: absolute;
    margin-top:40px;
    transform:translateX(-28%);
    width: 35%;
}

#m1 h1{
    font-size:3rem; opacity:.7;
    margin-top: 50px; 
    margin-bottom:35px;
    margin-left: 20%;
    /* text-shadow:2px 2px 5px grey; */
}

#m2 h1{
    font-size:3rem;opacity:.7;
    margin-top: 50px; margin-bottom:35px;
    margin-left: 15%;
}

body::-webkit-scrollbar{ width: 8px;}
body::-webkit-scrollbar-track{ background-color: rgb(177, 177, 177);}
body::-webkit-scrollbar-thumb{background-color: green;}
