header>h1{
    margin-left:3%;
    font-family: 'Water Brush', cursive;
}
ul, ol, li{list-style: none;}
ul::after{/*li float 해제*/
    content:"";display:block; clear:both;
}
header a{
    color: black;
    text-decoration: none;
}
.mainmenu{
    font-family: 'Gowun Dodum', sans-serif;
    
}
header a:visited{
    color: black;
    text-decoration: none;
}
.mainmenu>a:hover{
    color:rgb(82, 82, 82); font-size: 1.2rem;
}
header{
    height: 40px;
    width:100%;
    padding: 1rem;
    font-weight: bold;
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* border-bottom: solid 1px black; */
    top:0; left:0;
}
body{
    padding-top:60px
}
#menu{
    width: 30%; text-align:center;
}  
#main1>li{
    text-align:center;
    position:relative;
    float:left;
}

ul>li>a{
    text-align: center;
    margin:0 auto;
}

.mainmenu{
    font-size: 1.2rem; text-align:center;
    width: 40%;
}

#content{
    width: 100%;
    height: 100%;
    position:static;
    font-family: 'Nanum Gothic Coding', monospace;
}
#content>h1{
    text-align:center; 
    font-size:2rem; color:rgb(13, 97, 51);
    margin-top: 15px; margin-bottom:25px;
}
#content>h2{
    font-family: 'Noto Sans KR', sans-serif;
    text-align:center;margin-top:40px; line-height: .5em;
    font-weight:500; font-size:.9rem; letter-spacing: 3px;
}
#content>p{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top:20px; margin-left:7%;
    font-weight:300; font-size:1.4rem; letter-spacing: 3px;
}
#submenu{
    margin-top:30px; text-align:center;
    font-weight:400; letter-spacing: 0px;
    width: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
}
#submenu>button{
    font-family: 'Noto Sans KR', sans-serif;
    border : 0px; background-color:white;
    font-size:1.125rem; font-weight: 300;
    margin-left:-8px;margin-right:-6px;
    height:34px; 
    box-sizing: border-box; 
    cursor: pointer;
}
#submenu a:hover{
    color: rgb(18, 113, 21);
    font-weight:400;
    border-bottom : 2px solid rgb(18, 113, 21);
}

#submenu button>a{
    width: 185px; height: 32px;
    color: black; display:block;
    text-decoration: none;
}
#submenu button>a:visited{
    text-decoration: none;
}
#submenu #active a{
    border-bottom : 2px solid rgb(91, 199, 95);
}
#submenu #active a:hover{
    color: rgb(18, 113, 21);
    border-bottom : 2px solid rgb(18, 113, 21);
}
section{
    width:100%;
    height:510px;
    /* border: 3px solid black; */
    position: relative;
    text-align: center; right:0;
}
img{
    position: absolute;
    width: 45%; height: auto;
    right:12%; top:10%;
}
#map_content article{
    position: absolute;
    text-align: left;
    line-height: 2em; font-size:1.2rem;
    left: 12%; top: 12%; width:31%;
}
#map_content article h1{
    font-size:3rem;
    margin-top:5px; margin-bottom: 30px;
}
article button{
    border:0px;
}
article button>a{
	text-decoration: none;
}
article button>a:hover{
	cursor: pointer;
}
article button>a:visited{
	text-decoration: none;
	color: black;
}
