header>h1{
    margin-left:3%;
    font-family: 'Water Brush', cursive;
}
ul, ol, li{list-style: none;}
ul::after{/*li float 해제*/
    content:"";display:block; clear:both;
}
header a{
    color: black;
    text-decoration: none;
}
.mainmenu{
    font-family: 'Gowun Dodum', sans-serif;
    
}
header a:visited{
    color: black;
    text-decoration: none;
}
.mainmenu>a:hover{
    color:rgb(82, 82, 82); font-size: 1.2rem;
}
header{
    height: 40px;
    width:100%;
    padding: 1rem;
    font-weight: bold;
    background:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* border-bottom: solid 1px black; */
    top:0; left:0;
}
body{
    padding-top:60px
}
#menu{
    width: 30%; text-align:center;
}  
#main1>li{
    text-align:center;
    position:relative;
    float:left;
}

ul>li>a{
    text-align: center;
    margin:0 auto;
}

.mainmenu{
    font-size: 1.2rem; text-align:center;
    width: 40%;
}

#content{
    width: 100%;
    height: 100%;
    position:static;
    font-family: 'Nanum Gothic Coding', monospace;
}
#content>h1{
    text-align:center; 
    font-size:2rem; color:rgb(13, 97, 51);
    margin-top: 15px; margin-bottom:25px;
}
#content>h2{
    font-family: 'Noto Sans KR', sans-serif;
    text-align:center;margin-top:40px; line-height: .5em;
    font-weight:500; font-size:.9rem; letter-spacing: 3px;
}
#content>p{
    font-family: 'Noto Sans KR', sans-serif;
    margin-top:20px; margin-left:7%;
    font-weight:300; font-size:1.4rem; letter-spacing: 3px;
}
/* #content>#gomap{
    margin-top:20px; margin-left:7%;
    font-weight:400; font-size:1.2rem; letter-spacing: 3px;
    background-color:rgb(46, 190, 72); color:white;
    border : 1px solid rgb(46, 190, 72);
    border-radius:5px; padding: 8px; padding-left:20px;padding-right:20px;
}
#content #gomap:hover{
    color:white;
    background-color:rgb(18, 113, 21);
    border : 1px solid rgb(18, 113, 21);
}
#gomap>a{
    color: white;
    text-decoration: none;
}
#gomap>a:visited{
    color: white;
    text-decoration: none;
} */
/* #map{
    width: 100%;
    height:650px;
    margin: auto;
    position: relative;
    text-align: center; align-items: center;
} */
#submenu{
    margin-top:30px; text-align:center;
    font-weight:400; letter-spacing: 0px;
    width: 100%;
    border-bottom: 1px solid rgb(194, 194, 194);
}
#submenu>button{
    font-family: 'Noto Sans KR', sans-serif;
    border : 0px; background-color:white;
    font-size:1.025rem; font-weight: 300;
    margin-left:-7px;margin-right:-6px;
    height:34px; 
    box-sizing: border-box; 
    cursor: pointer;
    line-height: 1.7em;
}
#submenu a:hover{
    color: rgb(18, 113, 21);
    font-weight:400;
    border-bottom : 2px solid rgb(18, 113, 21);
    letter-spacing: 1.2px;
}

#submenu button>a{
    width: 220px; height: 32px;
    color: black; display:block;
    text-decoration: none;
    letter-spacing: 1px;
}
#submenu button>a:visited{
    text-decoration: none;
}
#submenu #active a{
    border-bottom : 2px solid rgb(91, 199, 95);
}
#submenu #active a:hover{
    color: rgb(18, 113, 21);
    border-bottom : 2px solid rgb(18, 113, 21);
}

[name="slide"] {display:none;}
.slidebox{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Nanum Gothic Coding', monospace;
    margin-top: 2.7%;
}
.slidebox img {
    width:25%; margin-left:57%;
}
.slidebox .slidelist{
    white-space: nowrap;
    overflow: hidden;
}
.slidebox .slideitem{
    position: relative;
    display: inline-block;
    width: 100%;
    transition: all .35s;
}
.slideitem article{
    position: absolute;
    text-align: left;
    line-height: 2em; font-size:1.2rem;
    left: 9.2%; top: 6.1%;
}
.slideitem article h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:2.5rem;
    margin-top:6px;
    margin-bottom:40px;
    letter-spacing: 2px;
}

.slidebox .slideitem label{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.slidebox .slideitem label:hover{
    opacity: 0.5;
}
label.left{
    left: 46%;
    background-color: transparet;
    background-image: url('subimg/left.png');
    background-position: center center;
    background-size: 200%;
    background-repeat: no-repeat;
}
label.right{
    right: 9%;
    background-color: transparet;
    background-image: url('subimg/right.png');
    background-position: center center;
    background-size: 200%;
    background-repeat: no-repeat;
}
[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);}
